<div id="<%= dom_id reserva %>">
  <p>
    <strong>Data entrada:</strong>
    <%= reserva.data_entrada %>
  </p>

  <p>
    <strong>Data saida:</strong>
    <%= reserva.data_saida %>
  </p>

  <p>
    <strong>Valor total:</strong>
    <%= reserva.valor_total %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reserva.status %>
  </p>

</div>
