<div class="container mt-5">
  <% if notice %>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="text-center mb-4">Reservas</h1>

  <div class="row g-4">
    <% @reservas.each do |reserva| %>
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">

            <h5 class="card-title">Reserva ID: <%= reserva.id %></h5>
            <p class="card-text">Check-in: <%= reserva.data_entrada.strftime("%d/%m/%Y") %></p>
            <p class="card-text">Check-out: <%= reserva.data_saida.strftime("%d/%m/%Y") %></p>
            <p class="card-text">Valor Total: <strong>R$ <%= number_to_currency(reserva.valor_total, unit: "", separator: ",", delimiter: ".") %></strong></p>
            <p class="card-text">Status: <%= reserva.quarto.status %></p>
            <p class="card-text">Hóspede: <%= reserva.user.email %></p>
            <p class="card-text">Quarto: <%= reserva.quarto.numero %></p>

  
            <div class="d-flex justify-content-between">
              <%= link_to "Ver Detalhes", [:administrativo, reserva], class: "btn btn-primary btn-sm" %>
              <%= link_to "Editar", edit_administrativo_reserva_path(reserva), class: "btn btn-warning btn-sm" %>
              <%= link_to "Excluir", administrativo_reserva_path(reserva), 
                          method: :delete, 
                          data: { confirm: "Tem certeza que deseja excluir esta reserva?" }, 
                          class: "btn btn-danger btn-sm" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-5 text-center">
    <%= link_to "Nova Reserva", new_administrativo_reserva_path, class: "btn btn-success" %>
  </div>
</div>